In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("titanic.csv")

In [7]:
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [8]:
df1 = df.drop(['Name','Age','Sex'], axis = 1)

In [9]:
df1.head()

   Survived  Pclass  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0         0       3                        1                        0   7.2500
1         1       1                        1                        0  71.2833
2         1       3                        0                        0   7.9250
3         1       1                        1                        0  53.1000
4         0       3                        0                        0   8.0500

In [11]:
from sklearn import tree
from sklearn.model_selection import train_test_split

In [12]:
X = df1.iloc[:,1:]

In [13]:
X.head()

   Pclass  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0       3                        1                        0   7.2500
1       1                        1                        0  71.2833
2       3                        0                        0   7.9250
3       1                        1                        0  53.1000
4       3                        0                        0   8.0500

In [14]:
y =  df1.iloc[:,0]

In [15]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.20)

In [17]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()

In [18]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [19]:
predictions = dtree.predict(X_test)

In [20]:
from sklearn.metrics import classification_report,confusion_matrix

In [21]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.64      0.82      0.72       100
           1       0.64      0.41      0.50        78

   micro avg       0.64      0.64      0.64       178
   macro avg       0.64      0.62      0.61       178
weighted avg       0.64      0.64      0.62       178

In [26]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=500)
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [27]:
rfc_pred = rfc.predict(X_test)

In [28]:
print(confusion_matrix(y_test,rfc_pred))

[[83 17]
 [45 33]]

In [29]:
print(classification_report(y_test,rfc_pred))

              precision    recall  f1-score   support

           0       0.65      0.83      0.73       100
           1       0.66      0.42      0.52        78

   micro avg       0.65      0.65      0.65       178
   macro avg       0.65      0.63      0.62       178
weighted avg       0.65      0.65      0.63       178