In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [3]:
df=pd.read_csv('titanic.csv')

In [5]:
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [6]:
df.drop(["Name","Fare",'Sex'],axis=1,inplace=True)

In [7]:
X=df.iloc[0:,1:]

In [8]:
y=df.iloc[:,0]

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33)

In [13]:
dtree=DecisionTreeClassifier()

In [14]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [15]:
prediction=dtree.predict(X_test)

In [17]:
from sklearn.metrics import classification_report,confusion_matrix

In [19]:
print(classification_report(y_test,prediction))

              precision    recall  f1-score   support

           0       0.71      0.77      0.74       180
           1       0.57      0.50      0.53       113

    accuracy                           0.66       293
   macro avg       0.64      0.63      0.63       293
weighted avg       0.66      0.66      0.66       293

In [21]:
rfc=RandomForestClassifier(n_estimators=500)
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [22]:
rfc_pred=rfc.predict(X_test)

In [23]:
print(confusion_matrix(y_test,rfc_pred))

[[131  49]
 [ 46  67]]

In [24]:
print(classification_report(y_test,rfc_pred))

              precision    recall  f1-score   support

           0       0.74      0.73      0.73       180
           1       0.58      0.59      0.59       113

    accuracy                           0.68       293
   macro avg       0.66      0.66      0.66       293
weighted avg       0.68      0.68      0.68       293